.container{
    max-width: 140rem;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    
}
ul{
    display: flex;
    gap: 3.2rem;

}
header{
    border-bottom: 0.2rem solid rgb(228, 218, 218);
}
.logo-brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
}